.post-card-medium {
  max-width: 403px;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--white-color);
  transition: background-color $transition-time ease;

  border-radius: $border-radius-block;
  overflow: hidden;

  &__img-link-wrapper {
    position: relative;
    padding: 16px;
    padding-bottom: 35px;
    height: 226px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

    overflow: hidden;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .post-card-medium__img {
          scale: 1.03;
        }
      }
    }
  }

  &__number,
  .post-tags {
    position: relative;
    z-index: 5;
  }

  &__number {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-text;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);

    @include font--numbers;
    color: white;

    transition: background-color $transition-time ease, color $transition-time ease;
  }

  &__img-link {
    position: absolute;
    display: block;

    inset: 0;
  }

  &__no-img-link {
    background-color: var(--stroke-color);

    width: 100%;

    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: background-color $transition-time ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .post-card-medium__no-img {
          scale: 1.03;
        }
      }
    }
  }

  &__no-img {
    transition: scale $transition-time ease;
    will-change: scale;
    width: 25%;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: scale $transition-time ease;
    will-change: scale;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 16px;
    margin-top: -20px;

    position: relative;
    z-index: 2;

    flex-grow: 1;
  }

  &__heading {
    max-width: 380px;
    width: 100%;
  }

  &__heading-link {
    @include font--titles-H3;
    line-height: 3.5rem;

    color: #fff;

    border-radius: $border-radius-text;

    background-position: left 85%;
    background-size: 100%;
    background-image: linear-gradient(
      to right,
      var(--title-bg-color) 0%,
      var(--title-bg-color) 100%
    );
    background-repeat: no-repeat;

    padding: 0px 8px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    transition: opacity $transition-time ease, color $transition-time ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    @include font--text-XS;
    color: var(--gray-color);
    transition: color $transition-time ease;
    margin-top: auto;
  }

  &__date {
    opacity: 0.8;
  }
}

html {
  &[data-theme='light'] {
    .post-card-medium {
      .post-comment-count {
        color: var(--gray-color);
        &::before {
          background-image: url('data:image/svg+xml,<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66665 13H15.1976L16.6666 14.1542V5.5H17.5C17.9602 5.5 18.3333 5.8731 18.3333 6.33333V17.5833L14.6212 14.6667H7.49998C7.03975 14.6667 6.66665 14.2936 6.66665 13.8333V13ZM4.54544 11.3333L0.833313 14.25V1.33333C0.833313 0.8731 1.20641 0.5 1.66665 0.5H14.1666C14.6269 0.5 15 0.8731 15 1.33333V11.3333H4.54544Z" fill="rgba(223, 223, 223, 1)"/></svg>');
        }
      }
    }
    .post-card-medium__no-img-link.has-dark-version {
      .post-card-medium__no-img {
        &--light {
          display: block;
        }

        &--dark {
          display: none;
        }
      }
    }
  }
  &[data-theme='dark'] {
    .post-card-medium {
      .post-comment-count {
        color: var(--gray-color);
        &::before {
          background-image: url('data:image/svg+xml,<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66665 13H15.1976L16.6666 14.1542V5.5H17.5C17.9602 5.5 18.3333 5.8731 18.3333 6.33333V17.5833L14.6212 14.6667H7.49998C7.03975 14.6667 6.66665 14.2936 6.66665 13.8333V13ZM4.54544 11.3333L0.833313 14.25V1.33333C0.833313 0.8731 1.20641 0.5 1.66665 0.5H14.1666C14.6269 0.5 15 0.8731 15 1.33333V11.3333H4.54544Z" fill="rgba(223, 223, 223, 1)"/></svg>');
        }
      }
    }
    .post-card-medium__no-img-link.has-dark-version {
      .post-card-medium__no-img {
        &--light {
          display: none;
        }

        &--dark {
          display: block;
        }
      }
    }
  }
}
